* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: black;
}
/* nav */
.div-tittle-movieapp {
    width: 100%;
    height: 70px;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 0px 10px;
    font-size: medium;
    background-color: rgb(187, 3, 233);
    background: linear-gradient(90deg,
            rgb(139, 37, 234) 0%,
            rgb(18, 18, 19) 50%,
            rgb(68, 61, 215) 100%)
}

/* tittle lookformovie */
.div-tittle-movieapp h1 {
    padding: 10px;
    color: #fff;
    font: normal 48px/normal "Warnes", Helvetica, sans-serif;
    color: rgba(255, 255, 255, 1);
    text-decoration: normal;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 1), 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    animation: neon 1s linear infinite alternate;
}


/* favourites */
.div-tittle-movieapp a {

    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding-right: 20px;
    padding-top: 30px;
    text-decoration: normal;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 1), 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    animation: neon 1s linear infinite alternate;

}
.div-tittle-movieapp a:hover {
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #0be0e0 , 0 0 70px #10d5d5 , 0 0 80px #1bebeb , 0 0 100px #03cece ;
  }

/* input busqueda */
.div-search-movie {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    padding: 10% 10% 0% 10%;
   
}

/* div creado donde se guardan las pelis */
#results-movies {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.movie {
    border: 2px;
    border-style: solid;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.movie p {
    width: 80%;
}

.movie img {
    width: 300px;
    height: 447px;
}

.movie-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8% 10% 10% 10%;
    gap: 8px;

}

.pfavourite-movies {
    color: white;
    text-align: center;
    padding: 30px;
}


.div-search-movie label {
    font-size: 25px;
}

.button-vi {
    width: 50px;
    height: 20px;
    color: black;
    background-color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 2px;

}

.btnDelete{
    width: 50px;
    height: 20px;

}


/* div detail info */
.movie-detail {
    color: white;
}